[*.cs]

# Message based constructors are unnecessary and hurts design.
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.RCS1194.severity = None

# False positive when adding a <param/> tag while also using <inheritdoc/> tag.
dotnet_diagnostic.CS1573.severity = none
